.button {
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: slategray;
  color: white;
}